//  Card Recharge Styles
.card-recharge {
	.card-header {
		margin-bottom: 6px;
	}
	
	.card-body {
		// display: flex;
		// flex-wrap: wrap;

		display: table;
	}

	.recharge-viz {
		display: table-cell;
		width:50%;

	}

	.recharge-cta {
		display: table-cell;
		padding-left: 20px;
	}
}

.recharge-cta {
	&__text {
		margin-bottom: 15px;
	}

	&__date {
		@include font($oswald-b, 22px);
		margin-bottom: 20px;
		text-transform: uppercase;

		sup {
			@include font($oswald-l);
		}
	}

	.btn {
		width: 100%;
	}
}