@font-face {
  font-family: 'exceleron';
  src:  url('../fonts/ex-icons/exceleron.eot?dkd34x');
  src:  url('../fonts/ex-icons/exceleron.eot?dkd34x#iefix') format('embedded-opentype'),
    url('../fonts/ex-icons/exceleron.ttf?dkd34x') format('truetype'),
    url('../fonts/ex-icons/exceleron.woff?dkd34x') format('woff'),
    url('../fonts/ex-icons/exceleron.svg?dkd34x#exceleron') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ex-icon-"], [class*=" ex-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'exceleron' !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ex-icon-usagefield:before {
  content: "\e907";
}
.ex-icon-listview:before {
  content: "\e908";
}
.Artboard-3 .path1:before {
  content: "\e909";
  color: rgb(26, 26, 26);
}
.Artboard-3 .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.Artboard-3 .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.Artboard-3 .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ex-icon-telephone:before {
  content: "\e90d";
}
.ex-icon-sms:before {
  content: "\e90e";
}
.ex-icon-gas:before {
  content: "\e90f";
}
.ex-icon-arrowdown:before {
  content: "\e910";
}
.ex-icon-arrowup:before {
  content: "\e911";
}
.ex-icon-account:before {
  content: "\e912";
}
.ex-icon-mobile:before {
  content: "\e913";
}
.ex-icon-inboxmail:before {
  content: "\e914";
}
.ex-icon-greenalert:before {
  content: "\e915";
}
.ex-icon-redalert:before {
  content: "\e916";
}
.ex-icon-logout:before {
  content: "\e917";
}
.ex-icon-water:before {
  content: "\e918";
}
.ex-icon-electricity:before {
  content: "\e919";
}
.ex-icon-expand:before {
  content: "\e91a";
}
.ex-icon-history:before {
  content: "\e91b";
}
.ex-icon-payment:before {
  content: "\e91c";
}
.ex-icon-settings:before {
  content: "\e91d";
}
.ex-icon-users:before {
  content: "\e91e";
}
.ex-icon-cloud:before {
  content: "\e91f";
}
.ex-icon-filter:before {
  content: "\e920";
}
.ex-icon-infocircle:before {
  content: "\e921";
}
.ex-icon-triangledown:before {
  content: "\e922";
}
.ex-icon-cross:before {
  content: "\e923";
}
.ex-icon-angledown:before {
  content: "\e924";
}
.ex-icon-angleup:before {
  content: "\e925";
}
.ex-icon-angleleft:before {
  content: "\e926";
}
.ex-icon-angleright:before {
  content: "\e927";
}
.ex-icon-creditcard:before {
  content: "\e928";
}
.ex-icon-bankaccount:before {
  content: "\e929";
}
.ex-icon-utilitysetting:before {
  content: "\e92a";
}
.ex-icon-utilityoffice:before {
  content: "\e92b";
}
.ex-icon-kiosks:before {
  content: "\e92c";
}
.ex-icon-search:before {
  content: "\e92d";
}
.ex-icon-mylocation:before {
  content: "\e92e";
}
.ex-icon-moneygram:before {
  content: "\e92f";
}
.ex-icon-email:before {
  content: "\e930";
}
.ex-icon-editcircle:before {
  content: "\e931";
}
.ex-icon-squarecross:before {
  content: "\e932";
}
.Artboard-44:before {
  content: "\e933";
}
.ex-icon-electricfield:before {
  content: "\e934";
}
.ex-icon-accountinfo:before {
  content: "\e935";
}
.ex-icon-call:before {
  content: "\e936";
}
.ex-icon-smallinfo:before {
  content: "\e937";
}
.ex-icon-prepaidfield:before {
  content: "\e938";
}
.ex-icon-arrowleft:before {
  content: "\e939";
}
.ex-icon-graph:before {
  content: "\e93a";
}
.ex-icon-uncheckbox:before {
  content: "\e900";
}
.ex-icon-checkbox:before {
  content: "\e901";
}
.ex-icon-radiocheck:before {
  content: "\e902";
}
.ex-icon-radiouncheck:before {
  content: "\e903";
}
.ex-icon-longarrowup:before {
  content: "\e904";
}
.ex-icon-radioselect:before {
  content: "\e905";
}
.ex-icon-radio:before {
  content: "\e906";
}



