.panel-pager {
	@include clearfix();
	

	&__item {
		padding: 10px;
		background-color: #fff;
		border: 1px solid #ccc;
		display: inline-block;
		float: left;

		&--nav {
			background-color: #f8f8f8;
		    padding: 11px 11px;
		    font-size: 10px;
		    line-height: 15px;


			.fa {
				vertical-align: middle;
			}
		}

		&--label {
			padding: 10px 15px;
			font-family: 'Oswald-Regular', sans-serif;
			font-size: 12px;
			text-transform: uppercase;
		}
	}


}