.subscription-col-1{
	padding-right:7px;
}

.subscription-col-2{
	padding-left:7px;
}

.billing-alerts{
	position:relative;
	border:1px solid $grey-border;
	margin-bottom:8px;
	table {
		width: 100%;
	}
}
.billing-alerts-heading{
	@include font($oswald-r, $size:9px, $line-height:19px);
	color:$ex-gray-med;
	text-transform:uppercase;
	background:$ex-gray-darker-bg;
	padding:10px 13px;
	letter-spacing:0.3px;

	@media(min-width: 1600px) {
		font-size: 10px;
	}

	.add-link{
		float: right;
		cursor: pointer;
	}
}

.subscription-panel{
	padding-left: 0;
    list-style-type: none;
    // padding-right: 40px;
    margin-bottom: 0;
    // height: 159px;

 	&__item{
 		padding:13px 20px 13px 0;
		position:relative;

		&::before{
			position: absolute;
		    left: 0;
		    top: 50%;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);
		    content: "";
		    background: #142d37;
		    height: 25px;
		    width: 2px;
		}

 		// @include flex-box(space-between, center);
 		display: table;
 		width:100%;

 		input[type="radio"] {
		    display: none;
		}

		 input[type="radio"]+.label-text:before {
		 	font-family: "exceleron";
		    font-style: normal;
		    font-variant: normal;
		    font-weight: normal;
		    text-transform: normal;
		    line-height: 1;
		    margin-right: 5px;
		    width: 15px;
		    font-size: 17px;
		    display: inline-block;
			position: relative;
    		top: -2px;
		    content: "\e906";
		    -webkit-transition: all 0.5s ease;
		    transition: all 0.5s ease;
		}
		input[type="radio"] + .label-text{
		
			color:$ex-gray-light;
			transition: all 0.6s ease;

		}
		input[type="radio"]:checked+.label-text{
			// opacity: 1;
			color:$ex-gray-darker;
		}
		 input[type="radio"]:checked+.label-text:before {
		   content: "\e905";
    		color: #2dc4cb;
		}

 	}

 	&__name{
 		@include font($oswald-r, $size:11px, $line-height:19px);
 		color:$ex-gray-dark;
 		text-transform:uppercase;
 		letter-spacing: 0.6px;
 		// @include flex-box(space-between, center);
		width: 160px;
 	}
 	&__name, .filter-checkbox__box{
 		padding:0 10px;
 		display: inline-block;
 		vertical-align: middle;
 	}
 	&__value{
 		color:$ex-pri-blue;
 		// @include flex-box(flex-start, center);
 		display: inline-block;	
 		.lesser-than-icon{
 			display: inline-block;
 			color:$text-pri-red;
 			@include font($oswald-l, $size:20px, $line-height:1px);
 			font-size: 25px;
   			transform: translateY(2px);
 		}
 		.doller-icon{
 			    font-family: "Oswald-Light",sans-serif;
 		}
 	}
}

.low-balance{
	font-weight:bold;
	display:inline-block;
}

.subscription-panel-wrapper.filter-checkbox{
	// padding:5px 0 5px 11px;
	// height:53px;
	border-bottom:1px solid $grey-border;
	// margin-top:2px;

	&:last-of-type{
		border-bottom:none;
	}
	.label-text{
		@include font($oswald-b, $size:9px, $line-height:19px);
		letter-spacing: 0.3px;
	}

	//  input[type="checkbox"]+.label-text:before{
	// 	width: 16px;
 //   		font-size: 18px;
	// }

	// input[type="checkbox"]:checked:disabled+.label-text{
	// 	 opacity: 0.5;
	// 	&::before{
	// 		 opacity: 0.5;
	// 	}	   
	// }
}

.subscription-panel-wrapper{
	.btn-check {
		margin:0 auto;
		width:110px;
		margin-top:5px;
		label{
			margin-bottom: 0;
		}
	}
}

.error-icon{
	font-size: 15px;
    padding-left: 5px;
    vertical-align: text-bottom;
}


.edit-balance{
	transition: all 0.3s ease-in;
	.edit-btn-edit{
		display: inline-block;    
		margin-top: -35px;
	    float: right;
	    transform: translateY(0px);
	}

	.edit-btn-save{
		display: none;
	}
	&:hover{
		background:$ex-bg-blue;
		.edit-btn-edit{
			opacity: 1;
		}
	}

	.btn--blue{
		&:hover, &:focus{
			color:$white;
			background: #2dc4cb;
		}
	}
}

.edit-btn{
	@include font($oswald-b, $size:9px, $line-height:10px);
	padding: 6px 15px;
    text-transform: uppercase;
    opacity: 0;
}

//alerts

.on-demand-alert{
	padding:20px 18px 0 18px;
	&--grey{
		background: $ex-gray-darker-bg;
	}
}

.on-demand-alert-icon{
	color:$text-pri-blue;
	font-size:25px;
    vertical-align: middle;
    &.ex-icon-call {
    	font-size: 28px;
    }
}

.on-demand-alert-type{
	@include font($oswald-r, $size:12px, $line-height:22px);
	text-transform:uppercase;
	color:$text-pri-blue;
}

.on-demand-alert-number{
	@include font($oswald-b, $size:13px, $line-height:23px);
	text-transform:uppercase;
	color:$ex-gray-dark;
}


.alert-list{
	margin-bottom:0;
	padding-left:0;
	list-style-type: none;
	&__items{
		@include font($pt-sans-b, $size:11px, $line-height:22px);
		color:$ex-gray-dark;
		// @include flex-box(space-between, flex-start);
		padding:10px 0;
		border-bottom:1px solid $grey-border;

		&:last-of-type{
			border-bottom:0;
		}
	}
	&__description{
	    max-width: 200px;
	    width: 100%;
	    display: inline-block;
	}
	&__detail{
		text-transform: uppercase;
		color:$text-pri-blue;
		font-family: $pt-sans-b;
	}

	&__type{
		text-transform: capitalize;
		display: inline-block;
		float: right;
	}
}

.subscription-panel__item.low-balance-edit{
	&::before{
		content: none;
	}
}

.low-balance-wrapper{
		// @include flex-box(flex-start, center);
		display:inline-block;
	}
//low balance edit
	.low-balance-edit{
	// @include flex-box(space-arround, center);
	// position:absolute;
	// justify-content: space-around;
 //    padding: 0 30px;
	// left:-20px;
	// bottom:0;
	// width:585px;
	box-shadow:-5px 0 0 10px #fff, -14px 0 0 10px #fff, -25px 0 20px 5px rgba(0,0,0,0.3), 5px 0 20px 5px rgba(0,0,0,0.3);
	z-index:100;
	// animation: myAnimation 0.8s ease;
	 animation: myAnimation 0.3s linear alternate; /* Safari 4.0 - 8.0 */

	.low-balance-wrapper{
		// @include flex-box(flex-start, center);
		display:inline-block;
	}

	
	.btn-check{
		width:80px;
		margin-top:6px;
	}
	.subscription-panel__name{
		width: 278px;
	}
	.low-balance{
		font-size: 13px;
	}
	.edit-btn{
	    font-size: 10px;
		padding: 6px 15px;
	}
	.edit-btn-save{
		display: inline-block;
		margin-top:-6px;
		padding: 8px 15px;
	}
	.subscription-panel__value{

		padding-left:15px;
	}
	.subscription-panel__value .lesser-than-icon {
	    font-size: 30px;
	    margin-top: -4px;
	    margin-right: 4px;
	}

	&:last-of-type{
		td:first-child{
			// padding-left:35px;
			&:before{
				content: none;
			}
		}
	}

	&:last-of-type{
		.edit-btn{
			opacity: 1;
		}
	}

	.input-wrapper{
		border:1px solid #ccc;
	}
}

.input-wrapper{
	display:inline-block;
	font-size: 13px;
	padding: 4px 6px;
	border-radius:2px;
	margin-right: 8px;
	width:60px;
	}


.subscription-panel-wrapper.filter-checkbox.low-balance-edit{
	// height:65px;
	background:$white;}
.subscription-panel-wrapper.filter-checkbox.low-balance-edit .label-text {
    font-size: 11px;
    color:$ex-gray-dark;
    opacity: 1;
    &::before{
    	color: $ex-gray-light
    }
}

.alert-main{
	overflow:hidden;
}

.overlay{
	 position:relative;
	 &::before{
	 	content:"";
	 	position: fixed;
	 	top: 50%;
	 	left: 50%;
	 	width: 100%;
	 	height: 100%;
	 	background: rgba(0,0,0,.24);
	 	opacity: 0;
	 	transform: translate(-50%, -50%) scale(0.95, 0.95);
	 	transition: all 0.25s ease-out;
	}
	
	&--active{
		&::before{
			z-index: 100;
			opacity: 1;
		 	transform: translate(-50%, -50%) scale(1, 1);
		}
	}
}

span.editNum{
	// width: 32px;
	// overflow:hidden;
}

.editNum,.editNumber{
	display:inline-block;
	width:32px;
}
input.editNum,input.editNumber{
	border:none;
	// width: ,32px;
	// display:inline-block;
	padding:0;
	letter-spacing:0;
	&:focus{
		letter-spacing:0;
		outline: none !important;
	}
}

input.editNum[type=number]::-webkit-inner-spin-button,
input.editNumber[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//download app notification
.download-app{
	background:#33cccc;
	position:relative;
	width: 100%;
	// margin-top:12px;
	// @include flex-box(flex-start, center);
	display:inline-block;
	&__img-wrapper{
		background:#2bc4c4;
		padding: 5px 30px 25px 38px;
		display: inline-table;

		img{
			vertical-align: inherit;
    		transform: translateY(10px);
		}
		
	}
	&__details{
		padding:15px 30px;
		// @include flex-box(flex-start, center);
		display: inline-block;
	}
	&__info{
		@include font($pt-sans-r, $size:16px, $line-height:26px);
		color: #ddf6f6;
		max-width: 410px;
		width: 100%;
		display: inline-block;
		span{
			text-transform: uppercase;
			color:$white;
			font-weight: bold;
		}
	}
	&__btn{
	    margin-right: 15px;
	    transform: translateY(-12px);
	    display: inline-block;
	}
	.close-btn{
		position:absolute;
		top:11px;
		right:11px;
		cursor: pointer;
	}
}

.label-status{
	margin-left:5px;
}
